<!DOCTYPE html>
<html>

     <head>
        <title>Main Homepage</title>
        <link rel = "stylesheet" type = 'text/css' href = "css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <script src = "http://code.jquery.com/jquery-latest.min.js"></script>
        <script src = "script/main.js"></script>
     </head>

     <body>

        <div id = "page-wrapper">

            <header id = "main-header">
                <hgroup>
                    <a href = "main">
                        <h1 class = "master-title">APPLE QUICK</h1>
                        <h2 class = "master-description">Energy-Plus Quick</h2>
                    </a>
                </hgroup>
            </header>

            <nav id = "main-navigation">
                <div class = "pull-left">
                    <ul class = "outer-menu">
                        <a href = "main">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">홈</span>
                            </li>
                        </a>
                        <a href = "user_id">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">ID</span>
                            </li>
                        </a>
                        <a href = "user">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">User</span>
                            </li>
                        </a>
                        <a href = "record">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">Record</span>
                            </li>
                        </a>
                        <a href = "collector">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">Collector</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </nav>

            <div>
                <img id = "information" src = "img/information.png">
            </div>

            <footer id = "main-footer">
                <hr size = 1px; >
                <a>Created By AppleQuick</a>
            </footer>

        </div>
     
     </body>

</html>