<!DOCTYPE html>
<html>

     <head>
        <title>유저 정보</title>
        <link rel = "stylesheet" type = 'text/css' href = "css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <script src = "http://code.jquery.com/jquery-latest.min.js"></script>
        <script src = "script/main.js"></script>
     </head>

     <body>

        <div id = "page-wrapper">

            <header id = "main-header">
                <hgroup>
                    <a href = "main">
                        <h1 class = "master-title">APPLE QUICK</h1>
                        <h2 class = "master-description">Energy-Plus Quick</h2>
                    </a>
                </hgroup>
            </header>

            <nav id = "main-navigation">
                <div class = "pull-left">
                    <ul class = "outer-menu">
                        <a href = "main">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">홈</span>
                            </li>
                        </a>
                        <a href = "user_id">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">ID</span>
                            </li>
                        </a>
                        <a href = "user">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">User</span>
                            </li>
                        </a>
                        <a href = "record">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">Record</span>
                            </li>
                        </a>
                        <a href = "collector">
                            <li class = "outer-menu-item">
                                <span class = "menu-title">Collector</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </nav>

            <div id = "content">

                <form action = "/userSearch">
                    <div class="search-box">
                        <input type="text" class="search-txt" name="searchText" placeholder="아이디를 입력해 주세요.">
                        <input type="submit" class="search-btn" value = "">
                    </div>
                </form>
                
                

                <% if (user != null && user.length > 0){ %>
                <ul>
                    <% for ( var i = 0; i < user.length; i++){ %>
                        <li>
                            <div class="search-result">
                                <p class="search-desc">아이디 : <%=user[i].user_id%></p>
                                <p class="search-desc">비밀번호 : <%=user[i].user_pw%></p>
                                <p class="search-desc">전화번호 : <%=user[i].phone%></p>
                                <p class="search-desc">총 적립금 : <%=user[i].sum_reward%>\</p>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <% }else{ %>
                    <p></p>
                <% } %>

            </div>

        </div>
     
     </body>

</html>